<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <select id="getUser" resultType="user">
    select userid, username from member
    where userid=#{userid} and password=${password}
    </select>
    <insert id="addUser">
        insert into member (username,userid,password) values (#{username},#{userid},#{password})
    </insert>
    <select id="getUserIds" resultType="java.lang.String">
        select userid from member
    </select>
</mapper>
